In [1]:
# Establcecer la conexion
import mysql.connector

conexion = mysql.connector.connect(
    host = "localhost",
    user = "root",
    password = "274138355",
    database = "operadores"
  

)

In [2]:
cursor = conexion.cursor()

In [3]:
cursor.execute("CREATE DATABASE IF NOT EXISTS operadores ")
cursor.execute("USE operadores")
print("Base de Datos creada exitosamente")

Base de Datos creada exitosamente

In [4]:
cursor.execute("""
    CREATE TABLE IF NOT EXISTS empleados (
        id INT AUTO_INCREMENT PRIMARY KEY,
        nombre VARCHAR(100),
        apellido VARCHAR(100),
        edad INT,
        salario DECIMAL(10,2),
        operaciones DECIMAL(10,2)
        
               
    )
""")

In [ ]:
cursor.execute("ALTER TABLE empleados MODIFY COLUMN operaciones DECIMAL(10,2) DEFAULT 0.00")

In [ ]:
nombre = input("Ingrese su nombre: ")
apellido = input("Su apellido")
edad = int(input("edad"))
salario = float(input("ingrese el salario"))
query ="INSERT INTO empleados (nombre, apellido,edad,salario) VALUES (%s,%s,%s,%s)"
valores = (nombre,apellido,edad,salario)

In [ ]:
cursor.execute(query,valores)
conexion.commit()

In [4]:
cursor.execute("SELECT nombre,apellido,edad,salario,salario * 0.5 AS operaciones FROM empleados")

In [5]:
resultados = cursor.fetchall()
for row in resultados:
    print(row)

('Luis', 'Perez', 20, Decimal('1000.00'), Decimal('500.000'))
('Juan', 'Lopez', 32, Decimal('10000.00'), Decimal('5000.000'))