In [1]:
# Establcecer la conexion
import mysql.connector

conexion = mysql.connector.connect(
    host = "localhost",
    user = "root",
    password = "274138355",
    database = "prueba"

)

In [2]:
cursor = conexion.cursor()

In [ ]:
cursor.execute("CREATE DATABASE IF NOT EXISTS empleados ")
cursor.execute("USE empleados")
print("Base de Datos creada exitosamente")

Base de Datos creada exitosamente

In [14]:
cursor.execute("""
    CREATE TABLE IF NOT EXISTS tabla_prueba (
        id INT AUTO_INCREMENT PRIMARY KEY,
        nombre VARCHAR(100),
        apellido VARCHAR(100),
        edad INT,
        salario DECIMAL(10,2),
        
               
    )
""")

ProgrammingError: 1064 (42000): You have an error in your SQL syntax; check the manual that corresponds to your MySQL server version for the right syntax to use near ')' at line 9

In [21]:
nombre = input("Ingrese su nombre: ")
apellido = input("Su apellido")
edad = int(input("edad"))
salario = float(input("ingrese el salario"))
##puesto = input("puesto")
query ="INSERT INTO tabla_prueba (nombre, apellido,edad,salario) VALUES (%s,%s,%s,%s)"
valores = (nombre,apellido,edad,salario)

In [22]:
cursor.execute(query,valores)
conexion.commit()

In [23]:
cursor.execute("SELECT * FROM tabla_prueba")
for row in cursor.fetchall():
    print(row)

(2, 'Luis', 'Perez', 20, Decimal('2000.00'))
(3, 'Josue', 'Martinez', 23, Decimal('1232.00'))
(4, 'Juan', 'Perez', 56, Decimal('20000.00'))

In [ ]:
cursor.execute("SELECT nombre,apellido,salario*0.5 AS operaciones from Empleados")

In [9]:
N_id=int(input("id empleado"))
N_Salario=float(input("Nuevo Salario"))
query = "UPDATE tabla_prueba SET salario = %s WHERE id = %s"
valores = (N_Salario, N_id)
cursor.execute(query, valores)
conexion.commit()

ValueError: invalid literal for int() with base 10: ''

In [43]:
N_id = int(input("ID del empleado a eliminar: "))

query = "DELETE FROM tabla_prueba WHERE id = %s"
valores = (N_id,)

cursor.execute(query, valores)
conexion.commit() 

print("Empleado eliminado correctamente.")

Empleado eliminado correctamente.